#panel-info {
  width: 40rem;
  height: 15rem;
  position: relative;
  display: block;
  margin-left: 2rem;
  top: 2rem;
  align-items: center;
  background-color: #adadad; 
  overflow: scroll;
  text-align: center; 
  justify-content: center;
}

#panel-info p {
  display: inline-block;
  position: relative;
  top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.boolean-instructions p {
  margin-left: 5px;
}

.full-boolean-display {
  height: 100%;
}

.full-boolean-display button {
  display: block;
  position: relative; 
  margin-left: 1.5rem;
  top: 7rem;
}