.panel-info {
  width: 75%;
  position: relative;
  display: block;
  height: 100%;
  margin-left: 5px;
  left: 15%;
  align-items: center;
  background-color: darkslategray;
  overflow: scroll;
}

.boolean-instructions p {
  margin-left: 5px;
  border: solid 2px pink; 
}

.full-boolean-display {
  height: 100%;
}