.title-name {
  font: 50px;
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  align-self: center;
  width: 100%;
  left: 25%;
  font-weight: 100;
  letter-spacing: -1px;
  font-size: 70px;
  opacity: 0.8;
  background: linear-gradient (to bottom right, #0d47a1, pink);
}

.gen-description {
  font: 20px;
  color: white;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  position: relative;
  left: 27%;
  font-weight: 100;
  margin-bottom: 5%;
  border: solid 5px pink;
}

.blue-part {
  background-color: #6e9ac6;
  border-radius: 5px;
  padding-right: 2px;
}
