main-components {
  text-align: center;
  background-color: linear-gradient (bottom right, #0099cc, #0d47a1);
}

.search-components {
  background-color: #c2c2c2;
  opacity: 0.6;
  border: solid #adadad 5px;
  border-radius: 5px;
  width: 45%;
  position: relative;
  left: 3%;
  padding-left: 5px;
}
