.main-components {
  border: solid 5px pink;
  position: relative;
  top: 10em;
}

.search-components {
  background-color: #c2c2c2;
  opacity: 0.6;
  border: solid #adadad 5px;
  border-radius: 5px;
  width: 45%;
  position: relative;
  display: inline-flex;
  left: 3%;
  padding-left: 5px;
}

.title-info {
  top: 10%;
}

.boolean-display {
  background-color: #c2c2c2;
  opacity: 0.6;
  border: solid #adadad 5px;
  border-radius: 5px;
  width: 45%;
  position: relative;
  display: inline-flex;
  left: 5%;
  top: -.7em;
  height: 100%;
}

.grey-components {
  width: 100%;
  border: solid 5px brown;
  /* position: relative; */
  top: 25%;
}
