main-components {
  text-align: center;
}

.search-components {
  background-color: #c2c2c2;
  opacity: 0.6;
  border: solid #adadad 5px;
  border-radius: 5px;
  width: 45%;
  position: relative;
  display: inline-flex;
  left: 3%;
  padding-left: 5px;
}

.title-info {
  top: 10%;
}

.boolean-display {
  background-color: #c2c2c2;
  opacity: 0.6;
  border: solid #adadad 5px;
  border-radius: 5px;
  width: 45%;
  position: relative;
  display: inline-flex;
  left: 5%;
  top: -.45em;
  height: 23.6em;
}
