body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  position: relative;
  overflow: scroll;
  background-image: linear-gradient(to bottom right, #ffd89b, #19547b);
  background-repeat: no-repeat;
  height: 100%;
  weight: 100%;
}

.gradient {
  background-image: linear-gradient (to bottom right, #0d47a1, pink);
}
